apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: appointme-dev
patches:
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: appointme-ingress
